:root {
    --theme-color: #b22;
    --theme-color-dark: #900;
}

* {
    box-sizing: border-box;
    outline:0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    max-width: 1100px;
    margin: 0 auto;
    background: #eee;
    overflow-y: scroll;
}

body {
    border: 1px solid #ddd;
    background: #fff;
    margin-top: 0;
    padding: 10px;
}

a, a:visited, a:link {
    text-decoration: none;
    color: var(--theme-color);
}

a:hover {
    text-decoration: underline;
}

a > button {
    background-color: #cc3333;
    border-color: #881111;
    cursor: pointer;
    padding: 0.4em 0.8em;
    color: #fff;
    border-radius: 0.33em;
}

a > button:hover {
    background-color: var(--theme-color);
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    border: 1px solid #777;
    padding: 1em;
}

code {
    font-family: monospace;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #eee;
    white-space: pre;
    display: block;
    padding: 0.66em;
}

code.inline {
    display: inline-block;
    vertical-align: middle;
    padding: 0.1em 0.67em;
}

summary {
    padding-top: 0.66em;
    cursor: pointer;
    outline: 0;
}

label, input[type=checkbox] {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.navigation {
    border: 1px solid #ddd;
    background: #eee;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
}

.navigation ul {
    margin: 2px 0 0;
    padding-left: 20px
}

#page-content {
    display: flex;
    overflow: hidden;
}

#script-nav {
    flex: 0 0 300px;
    padding-right: 30px;
}

#script-nav ul {
    list-style-type: none;
    padding-left: 0;
}

#code-container {
    overflow: hidden;
    flex-grow: 1;
}

#code-container code {
    min-height: 100%;
}

button {
    background: var(--theme-color);
    color: #fff;
    height: 3em;
    border: 0;
    cursor: pointer;
}

button:hover {
    background: var(--theme-color-dark);
}
button:disabled {
    background: #aaa;
}
#btn-run-script {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#script-nav li {
    line-height: 1.5em;
}

#script-nav li[data-script] {
    color: var(--theme-color);
    cursor: pointer;
}

#script-nav li[data-script]:hover {
    color: #fff;
    cursor: pointer;
    background: var(--theme-color);
}

.tmWindow-header {
    background: var(--theme-color);
    color:#fff;
}
.tmWindow-btn {
    background: var(--theme-color);
}
.tmWindow-btn:hover {
    background: var(--theme-color-dark);
}