

.tmr-msg-list {
    list-style-type: none;
    padding-left:5px;
    display:inline-block;
    min-width:100%;
}

.tmr-msg {
    white-space: pre;
    padding: 4px 10px;
    border-bottom: 1px solid #ccc;
}

.tmr-msg:last-child {
    border-bottom: 0;
}

.tmr-log {
    background: #fff;
    color: #333;
}
.tmr-warn {
    background: #ffc;
    color:#550;
}
.tmr-error {
    background: #fcc;
    color: red;
}

.tmr-runtime-error {
    background: #700;
    color:#fff;
}

.tmr-msg-line {
    opacity: 0.5;
}